@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
body{
    background-image: url("https://wallpaperaccess.com/full/1306995.png");
    background-repeat: no-repeat;
    background-size:cover;
 background-attachment: fixed;
}
header{
    font-family:Squada One;
    color:rgb(49, 165, 165);;
    padding-left:46% ;
}
nav{
    font-family:Squada One;
    color:rgb(49, 165, 165);;
    padding-left:45% ;
}
nav a{
    color: rgb(49, 165, 165);;
   text-decoration:none ;

   padding-left: 2%;
}
#überschrift{
    color: rgb(49, 165, 165);;
    font-family: Squada One;
    margin-left: 30%;
    margin-right: 40%;
    border: rgb(26, 134, 71) 2.5px solid;
    padding-left: 8em;
}
#choosestyle,a{color:rgb(49, 165, 165);
font-family:Squada One ;
}


h3{color:rgb(49, 165, 165);}

main, #liste,main a{
    color: rgb(49, 165, 165);
    font-family: Squada One;
    
}
#texte{color: rgb(49, 165, 165);
font-family: Squada One;
margin-top: -1em;}

#zitat{color:rgb(49, 165, 165);
    font-family: Squada One;
    margin-right: 63%;
    margin-left: 1%;
    border: rgb(26, 134, 71) 2.5px solid;
   
}

#topliste{ color: rgb(49, 165, 165);
    font-family: Squada One}

#GAME{color:rgb(49, 165, 165);
font-family: Squada One;}

.beschreibung{color: crimson;
background-color: black;
font-size:large ;
font-family:Squada One ;
margin-top: -25em;
margin-left: 18em;
}
#GT{color: crimson;
    background-color: black;
    font-family:Squada One ;}

#bayonetta{color: crimson;
font-family:Squada One ;
background-color:black ;
margin-top:-5em ;
margin-left:16em ;
}
#VideoB{size: ;}





footer{
    padding-left: 44%;
    font-size: small;
}
footer a{
    font-family: Squada One;
    color: crimson;
}