@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');


body{background-image: url("https://i.pinimg.com/originals/f7/43/a8/f743a89ebf90e34be3c8869dc7636b3b.jpg");
     background-size: cover;}
    
    

#photo{
    height: 9em;
    width: 7em;
}
#photo1{
    height: 9em;
    width: 7em;
}
#haupt{
    padding-left: 40%;
color:white;
font-family: Reggae One;
}
header
{
border: dimgrey 2px solid;
border-radius: 2px;
margin-right: 20em;
margin-left: 25em;
box-shadow: firebrick;
}

nav {
    margin-left:50%;
}

nav a{
    text-decoration: none;
    padding-left:5%}
    
footer{
    margin-top: 1%;
    margin-left: 40%;
}
footer a{
    text-decoration: none;
    color: black;
    }
    
    #f1{
        margin-top: 15%;
        margin-left: 40%;
    }
    #f1 a{
        text-decoration: none;
        color: black;
        }
main{
    padding-left: 35%;
    color:white;
    font-family:cursive;
}
#überschrift{padding-left: 50%;
    color:white;
    font-family: cursive;}
.text, p{
    font-family: cursive;
    color:white;
}

@media screen and (max-width: 720px){}

#news{color:white;
    font-family: cursive;
    font-size: medium;}

#db{height: 10em;
width: 10em;
margin-top: -5em;
margin-left: 20em;}

#manga{height: 10em;}
.art p{
    font-size: small;
}


.art2 p{
    font-size: small;
}
.art2 {margin-top:-20em ;
    margin-left: 32em;}